.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

.pagination button {
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.pagination button:hover {
    background-color: #c5c4c4;
}

.pagination span {
    margin: 0 20px;
}