.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.itemsList {
    margin-top: 20px;
}

.item {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.item div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.closeButton {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-end;
}